language: node_js
node_js:
    - "0.10"
    - "6"
    - "5"
    - "4"
script: npm run travis
before_install:
    - export DISPLAY=:99.0
    - sh -e /etc/init.d/xvfb start

notifications:
  on_success: change
  on_failure: always

matrix:
  fast_finish: true

branches:
  only:
    - master
    - develop